<?xml version='1.0' encoding='utf-8'?>
<!--
HibernateDaonate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/zantech</property>
        <property name="connection.username">zantech</property>
        <property name="connection.password">p@$sw0rD</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">100</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Convert Zero Date Time to Null -->
        <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>

        <!--
            hibernate.hbm2ddl.auto Automatically validates or exports schema DDL to the database

            validate: validate the schema, makes no changes to the database. [PRODUCTION]
            update: update the schema.
            create: creates the schema, destroying previous data.
            create-drop: drop the schema when the SessionFactory is closed explicitly, typically when the application is stopped.
        -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <!-- Names the annotated entity class -->
        <mapping class="za.co.zantech.entities.Permission"/>
        <mapping class="za.co.zantech.entities.Role"/>
        <mapping class="za.co.zantech.entities.Route"/>
        <mapping class="za.co.zantech.entities.User"/>

    </session-factory>

</hibernate-configuration>